<!DOCTYPE html>
<html lang="en">
<!--printing this elemtn {{  ;}}-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body ng-app="myapp">

  <div ng-controller="MyController" >
	<div ng-repeat="item in myData.items" >
		<div ng-click="myData.doClick(item,$event)" >Click here</div>
	</div>
</div>

<script>
    angular.module("myapp", [])
            .controller("MyController", function($scope) {
                $scope.myData = {};
				$scope.myData.items = [{v:1},{v:2}];
                $scope.myData.doClick = function(item,event) {
                    alert("clicked wid item value "+item.v+" and clikcet at location x:"+event.x);
                }
            } );
</script>

</body>
</html>