<html>
	<head>
	
		<script src="angular.min.js" > </script>
	</head>
	<body ng-app="myapp">
		<div ng-controller="mycontroller">
		<div>
			<input type="text" ng-model="myFormdata.Firstname" ng-minlength="5"> Firstname</input>
			<span ng-show="minfivechar()">min fibve char</span>
		</div>
		<div>
			<input type="text" ng-model="myFormdata.Lastname"> Lastname</input>
		</div>	
		<div>
				My full name is
				<span ng-bind="myFormdata.Firstname" > </span>
				<span ng-bind="myFormdata.Lastname" > </span>
		</div>
		</div>
		
	</body>
		<script>
			angular.module("myapp",[])
				.controller("mycontroller",function($scope){
					$scope.myFormdata = {};
					$scope.myFormdata.Firstname = "f"; 
					$scope.myFormdata.Lastname = "Lastname";
					$scope.myFormdata.len = $scope.myFormdata.Firstname.length;
					$scope.minfivechar = function()
					{
						if(this.myFormdata.Firstname.length<5)
							return true;
						else 
							return false;
					};
				});
		</script>	
	
</html>