<!DOCTYPE html>
<!--using this link http://tutorials.jenkov.com/angularjs/index.html  to learn angularjs-->

<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

	<body ng-app="myapp">
		<div ng-controller="MyController" >
			<ol >
				<!--ng-repeat iterate over items in items list and binds it to li-->
				<li ng-repeat="item in myData.items" >
					{{item.text}}
					<ul >
						<!--ng-repeat iterate over items in items list and binds it to li-->
						<li ng-repeat="item in myData.items" ng-bind="item.text"></li>
					</ul>
				</li>
			</ol>
		</div>

			<script>
				angular.module("myapp", [])
				.controller("MyController", function($scope) {
					$scope.myData = {};
					$scope.myData.items = [{text:"one"},{text:"two"},{text:"three"},{text:"four"}]
				});
			</script>
	</body>
</html>